#graph svg{	
	background-color: #FFF;
	position:absolute;
	height:100%;
	width: 100%;
	top:0px 
	margin-left:0px; 
	min-height: 2000px;
}

.edge {
  fill: none;
  stroke: #000;
  stroke-width: 4px;
  cursor: pointer;
}


.node rect, .node circle{
  stroke-width: 1.5px;
  cursor: pointer;
  fill: #FFF;
  stroke: #000;
}

.node.private rect, .node.private circle{
	fill: #FFCC66;
}
.node.public rect, .node.public circle{
	fill: #0099CC;
}
.node.system rect, .node.system circle{
	fill: #FF0033;
}

.node-label {
  text-anchor: middle;
  font-weight: bold;
}

path.selected, .selected rect, .selected circle, .edge .selected{
  stroke: #F00;
  color: #F00;
  z-index:90;
}

.node.end-point rect, .node.end-point circle{
	fill: #33CC33;
	z-index:10;
}

.node.selected.end-point rect, .node.selected.end-point circle{
	z-index:91;
}

marker path{
  fill: #000;
  stroke: none;
}

marker.selected path{
  fill: #F00;
}

text {
  font: 12px sans-serif;
  pointer-events: none;
}

path.old-data, .old-data rect{
  /*stroke-dasharray: 10,7; */
}

.filtered{
  display: none;
}
